<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender class="ch.qos.logback.mythicdrops.core.FileAppender" name="FILE">
        <file>pixeloutlaw/mythicdrops.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>
</configuration>