<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="SIFT-mythicdrops" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>mdpluginpath</key>
            <defaultValue>pixeloutlaw</defaultValue>
        </discriminator>
        <sift>
            <appender class="ch.qos.logback.mythicdrops.core.FileAppender" name="FILE-${mdpluginpath}">
                <file>${mdpluginpath}/mythicdrops.log</file>
                <append>true</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="SIFT-mythicdrops"/>
    </root>
</configuration>